<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include "header.html" %}

    <div class="container">
        <h1>Please Upload a File</h1>
        <h4>(max size: 500MB)</h4>
        <br>
        <form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload/" onsubmit="return validateFileUpload()">
            <label for="fileInput" class="button-like-link">Choose File</label>
            <input type="file" id="fileInput" name="file" accept=".txt, .pdf, .docx, .jpg, .jpeg, .png, .mp3, .wav, .m4a, .flac" onchange="showFileName(); checkFileSize(this);">
            <br>
            <div id="error-message" style="color: red; display: none;">Invalid file type. Please choose a valid file type.</div>
            <div id="filePreview" style="display: none;"></div>
            <br>
            <button type="submit" id="uploadButton" class="button-like-link">Upload</button>
        </form>
    </div>
<script>
    function showFileName() {
        const fileInput = document.getElementById('fileInput');
        const filePreview = document.getElementById('filePreview');
        const errorMessage = document.getElementById('error-message');

        if (fileInput.files.length > 0) {
            const fileName = fileInput.files[0].name;
            filePreview.innerText = `Selected file: ${fileName}`;
            filePreview.style.display = 'inline-block';
            errorMessage.style.display = 'none';
        } else {
            filePreview.innerText = '';
            filePreview.style.display = 'none';
        }
    }

    function validateFileUpload() {
        const fileInput = document.getElementById('fileInput');
        const errorMessage = document.getElementById('error-message');

        if (fileInput.files.length === 0) {
            errorMessage.innerText = 'Please choose a file to upload.';
            errorMessage.style.display = 'inline-block';
            fileInput.innerText = '';
            fileInput.style.display = 'none';

            return false;
        }

        const validFileTypes = ['txt', 'pdf', 'docx', 'jpg', 'jpeg', 'png', 'mp3', 'wav', 'm4a', 'flac'];
        const fileExtension = fileInput.files[0].name.split('.').pop().toLowerCase();

        if (!validFileTypes.includes(fileExtension)) {
            errorMessage.innerText = 'Invalid file type. Please choose a valid file type.';
            errorMessage.style.display = 'inline-block';
            fileInput.innerText = '';
            fileInput.style.display = 'none';

            return false;
        }

        return true;
    }

    function checkFileSize(input) {
            const fileInput = document.getElementById('fileInput');
            const errorMessage = document.getElementById('error-message');
            const filePreview = document.getElementById('filePreview');

            // Check if the file size exceeds 500MB (500 * 1024 * 1024 bytes)
            if (input.files[0] && input.files[0].size > 500 * 1024 * 1024) {
                alert("File size exceeds the maximum limit of 500MB.");
                input.value = '';
                errorMessage.innerText = 'Please select a smaller file.';
                errorMessage.style.display = 'inline-block';
                fileInput.innerText = '';
                fileInput.style.display = 'none';    
            }
        }
</script>

    {% include "footer.html" %}
</body>
</html>