<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body> 
    <div id="fileDropArea" class="file-drop-area" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)" ondrop="handleDrop(event)">
        {% include "header.html" %}

        <div class="container">
            <h1>Please Upload a File</h1>
            <h4>(max size: 200MB)</h4>
            <br>
            <form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload/" onsubmit="return validateFileUpload()">
                <label for="fileInput" class="button-like-link">Choose File</label>
                <input type="file" id="fileInput" name="file" accept=".txt, .pdf, .docx, .jpg, .jpeg, .png, .mp3, .wav, .m4a, .flac" onchange="handleFileChange(this);">
                <br>
                <div id="error-message" style="color: red; display: none;">Invalid file type or size. Please choose a valid file.</div>
                <div id="filePreview" style="display: none;"></div>
                <br>
                <button type="submit" id="uploadButton" class="button-like-link">Upload</button>
            </form>
        </div>


        <div id="loadingCircle" class="loading-circle"></div>
        <div id="loadingOverlay" class="loading-overlay"></div>

        {% include "footer.html" %}

    </div>
    <script>
        function handleDragOver(event) {
            event.preventDefault();
            const dropArea = document.getElementById('fileDropArea');
            dropArea.classList.add('highlight');
        }

        function handleDragLeave(event) {
            const dropArea = document.getElementById('fileDropArea');
            dropArea.classList.remove('highlight');
        }

        function handleDrop(event) {
            event.preventDefault();
            const dropArea = document.getElementById('fileDropArea');
            dropArea.classList.remove('highlight');

            const dt = event.dataTransfer;
            const files = dt.files;

            handleFiles(files);
        }

        function handleFileChange(input) {
            const files = input.files;
            handleFiles(files);
        }

        function handleFiles(files) {
            const fileInput = document.getElementById('fileInput');
            const filePreview = document.getElementById('filePreview');
            const errorMessage = document.getElementById('error-message');

            if (files.length > 1) {
                alert('Please drop only one file.');
                return;
            }

            const file = files[0];
            const validFileTypes = ['txt', 'pdf', 'docx', 'jpg', 'jpeg', 'png', 'mp3', 'wav', 'm4a', 'flac'];
            const fileExtension = file.name.split('.').pop().toLowerCase();

            if (!validFileTypes.includes(fileExtension)) {
                errorMessage.innerText = 'Invalid file type. Please choose a valid file type.';
                errorMessage.style.display = 'inline-block';
                fileInput.innerText = '';
                fileInput.style.display = 'none';
                filePreview.innerText = '';
                filePreview.style.display = 'none';
                return;
            }

            if (file.size > 200 * 1024 * 1024) {
                alert("File size exceeds the maximum limit of 200MB.");
                fileInput.value = '';
                errorMessage.innerText = 'Please select a smaller file.';
                errorMessage.style.display = 'inline-block';
                fileInput.innerText = '';
                fileInput.style.display = 'none';
                filePreview.innerText = '';
                filePreview.style.display = 'none';
                return;
            }

            // Add file to the file input of the form
            const newFileList = createFileList(file);
            fileInput.files = newFileList;
            // Display file details in the UI
            filePreview.innerText = `Selected file: ${file.name}`;
            filePreview.style.display = 'inline-block';
            errorMessage.innerText = '';
            errorMessage.style.display = 'none';
        }

        function createFileList(...files) {
            const fileList = new ClipboardEvent('').clipboardData || new DataTransfer();
            files.forEach(file => fileList.items.add(file));
            return fileList.files;
        }


        function validateFileUpload() {
            const fileInput = document.getElementById('fileInput');
            const errorMessage = document.getElementById('error-message');

            if (fileInput.files.length === 0) {
                errorMessage.innerText = 'Please choose a file to upload.';
                errorMessage.style.display = 'inline-block';
                fileInput.innerText = '';
                fileInput.style.display = 'none';

                return false;
            }

            const validFileTypes = ['txt', 'pdf', 'docx', 'jpg', 'jpeg', 'png', 'mp3', 'wav', 'm4a', 'flac'];
            const fileExtension = fileInput.files[0].name.split('.').pop().toLowerCase();

            if (!validFileTypes.includes(fileExtension)) {
                errorMessage.innerText = 'Invalid file type. Please choose a valid file type.';
                errorMessage.style.display = 'inline-block';
                fileInput.innerText = '';
                fileInput.style.display = 'none';

                return false;
            }

            const loadingCircle = document.getElementById('loadingCircle');
            const loadingOverlay = document.getElementById('loadingOverlay');
            loadingCircle.style.display = 'block';
            loadingOverlay.style.display = 'block';

            return true;
        }

        function checkFileSize(input) {
            const fileInput = document.getElementById('fileInput');
            const errorMessage = document.getElementById('error-message');
            const filePreview = document.getElementById('filePreview');

            // Check if the file size exceeds 200MB (500 * 1024 * 1024 bytes)
            if (input.files[0] && input.files[0].size > 200 * 1024 * 1024) {
                alert("File size exceeds the maximum limit of 200MB.");
                input.value = '';
                errorMessage.innerText = 'Please select a smaller file.';
                errorMessage.style.display = 'inline-block';
                fileInput.innerText = '';
                fileInput.style.display = 'none';    
            }
        }

               // Function to handle file submission
        function handleFileSubmit(event) {
            event.preventDefault(); // Prevent default form submission

            // Call validateFileUpload to perform validation
            if (!validateFileUpload()) {
                return; // Validation failed, do not proceed with form submission
            }

            // Form validation passed, submit the form programmatically
            const form = document.getElementById('uploadForm');
            form.submit();
        }

        // Add event listener for form submission
        const uploadForm = document.getElementById('uploadForm');
        uploadForm.addEventListener('submit', handleFileSubmit);

    </script>
</body>
</html>