/* index.html CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the container itself */
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.button-like-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.button-like-link:hover {
    background-color: #0056b3;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #0056b3;
}

#filePreview,
#error-message {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #555; /* Text color for file name preview */
}

input[type="file"] {
    display: none; /* Hide the file input */
}
#uploadInfo {
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#uploadInfo p {
    margin-bottom: 10px;
}

.loading-circle {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000000;
    animation: spin 1s linear infinite;
    z-index: 1001;
}
  
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* Adjust the opacity here */
    z-index: 1000;
  }

  .file-drop-area {
    position: relative; /* Ensure relative positioning for the drop area */
    width: 100%;
    height: 100vh; /* Set the height of the drop area */
    border: 2px dashed transparent; /* Initially transparent dashed border */
}

.file-drop-area.highlight:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px dashed #007bff; /* Dashed border color */
    pointer-events: none; /* Allow events to pass through the pseudo-element */
    z-index: 999; /* Ensure the pseudo-element appears above other elements */
}

.filePreview {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the container itself */
}

.filePreview img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 5px;
    display: block; /* Prevents any extra space below the image */
    margin: 0 auto; /* Center the image horizontally within the container */
}

.text-preview {
    max-height: 400px;
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
    word-break: break-all; 
    text-align: left; 
}

.text-center {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

a.button-like-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button-like-link:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #222; /* Dark background for navbar */
    color: #fff; /* White text color for navbar text */
    padding: 20px; /* Increase top and bottom padding */
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    text-wrap: pretty;
    display: flex;
    align-items: center;
}

.navbar-brand h1 {
    font-size: 64px;
    font-weight: bold;
    text-wrap: pretty;
}

.navbar-brand:hover {
    color: #ccc; /* Slightly gray color on hover */
    text-decoration: none; /* Remove underline on hover */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar-brand img {
    width: 150px; /* Adjust the width of the image */
    height: 150px; /* Adjust the height of the image */
    margin-right: 10px; /* Optional: Add margin to the right of the image */
}

/* Footer CSS */
.footer {
    background-color: #222; /* Dark background for footer */
    color: #fff; /* White text color for footer text */
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline */
}

.about-link {
    display: inline;
    color: #fff; /* Change link color if needed */
    text-decoration: underline; /* Underline the link text */
}

a.names {
    display: inline-block; /* Change from inline to inline-block */
    padding: 0 20px; /* Add left and right padding */
}

a.names:hover {
    color: #ccc; /* Slightly gray color on hover */
    text-decoration: none; /* Remove underline on hover */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

#footerContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #222;
    color: #fff;
    font-weight: bold;
    max-width: 600px;
    margin: 0 auto; /* Center the container itself */
    padding: 20px;
}

.footer-about {
    padding: 20px; /* Increased left and right padding */
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    color: #000000;
}