<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Status</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include "header.html" %}

    
    <div class="container">
        <h1>Predicted AI Score</h1>
        <p>Percent Score: <span id="percentScore"></span></p>
        <div id="filePreview"></div>
        <a href="/" class="button-like-link">Upload Another File</a>
    </div>

    <script>
        // Assume you have received the file details from the server
        const fileDetails = {
            filename: "example.jpg",
            file_type: "image",
            file_contents: "base64encodedimagestring"
        };

        const percentScore = document.getElementById('percentScore');
        const filePreview = document.getElementById('filePreview');

        percentScore.textContent = "90"; // Example score, you need to set this dynamically

        if (fileDetails.file_type === "image") {
            const img = document.createElement('img');
            img.src = `data:image/${fileDetails.filename.split('.').pop()};base64,${fileDetails.file_contents}`;
            img.alt = fileDetails.filename;
            filePreview.appendChild(img);
        }
    </script>
    {% include "footer.html" %}
</body>
</html>
